*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

html, body{
  font-family: sans-serif;
  background-color: rgb(17, 17, 17);
}

nav{
  display: flex;
  position: fixed;
  width: 100%;
  height: 8%;
  top: 0%;
  background-color: rgb(38, 39, 39);
  background: rgb(70,70,70);
  background: linear-gradient(90deg, rgba(70,70,70,0.9724264705882353) 0%, rgba(37,37,37,0.9556197478991597) 50%, rgba(74,74,74,0.938813025210084) 100%);
}

nav .logo{
  display: grid;
  align-items: center;
  justify-content: right;
  width: 20%;
 
  position: relative;
 

  
}

nav .nav-links{
  width: 100%;
  padding: 1%;
  display: flex;
  flex-direction: row;

align-items: center;
justify-content: center;


}

nav .nav-links .nav-item{
  display: flex;
  justify-content: center;
 width:15%;

}

nav .nav-links .nav-item .nav-link{
 
  display: flex;
  color: rgb(255, 255, 255);
  opacity: 1;
  font-weight: 300;
  
}

.nav-link h1{
  font-weight: 300;
  font-size: clamp(0.5em, 1.2em ,1.5em);

}


.nav-link img{
  display: flex;
  position: relative;
  left: 10%;
 
    width: 35%;


}

a.nav-link.active{
  border-radius: 4%;

  box-shadow: rgb(0, 0, 0) 0 0 2px 1px;
padding: 5%;

}

a.nav-link.active h1{
  color: rgb(0, 255, 149);
  border-bottom: solid 1px;
  
}

